{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="mr-auto ml-auto mt-3
                    col-lg-4
                    col-md-6
                    col-sm-8
                    col-10">
            <div class="card text-center p-4">
                <h1>Instagram</h1>
                <form action="" method="POST">
                    {% csrf_token %}
                    <!-- form이 가진 field들을 순회하며, 매 순회마다 .form-group요소를 만듬 -->
                    {% for field in form %}
                        <div class="form-group">
                            {{ field }}
                        </div>
                    {% endfor %}

                    {% if form.non_field_errors %}
                        <ul class="list-unstyled text-danger">
                            {% for error in form.non_field_errors %}
                                <li>{{ error|escape }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    <button class="btn btn-primary btn-block">로그인</button>
                </form>
                <hr>
                <a  href="{{ login_url }}"
                    class="btn btn-block btn-outline-success mb-3">NAVER로 로그인</a>
                <a href="">비밀번호를 잊으셨나요?</a>
            </div>

            <div class="card text-center p-4 mt-3 mb-3">
                <span>계정이 없으신가요?</span>
                <a href="{% url 'signup' %}">가입하기</a>
            </div>
        </div>
    </div>
{% endblock %}